{% extends "base.html" %}

{% block title %}{{ article.title }} — {{ super() }}{% endblock %}
{% block keywords %}{% for t in article.tags %}{{ t }},{% endfor %}{% endblock %}
{% block description %}{{ article.title }}{% endblock %}

{%- block content -%}    
    <article class="article">

        {# [>- Header <] #}
        <header class="article_header">
            <time class="article_header_time" datetime="{{ article.date }}">{{ article.date.strftime('%d.%m.%Y')}}</time>
            <span>in <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></span>
            <h1 class="article_header_title">{{ article.title }}</h1>
            {%- if article.tags -%}
                <span class="article_meta">tags: {% for tag in article.tags %}<span><a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a> {% if not loop.last %}, {% endif %}</span> {% endfor %}</span>
            {%- endif -%}
        </header>

        {# [> Paginator <] #}
        <div class="article_paginator zeta">
            {%- if prev %}
                <div class="article_paginator_right">
                    <a href="{{ prev.url }}" class="article_paginator_right_link">{{ prev.title }}</a> Ctrl→
                </div>
            {%- endif -%}
            {%- if next %}
                <div class="article_paginator_left">
                    ←Ctrl <a href="{{ next.url }}" class="article_paginator_left_link">{{ next.title }}</a>
                </div>
            {%- endif -%}
        </div>

        {# [>- Content <] #}
        <div class="article_content">
            {{ article.content }}
        </div>

        {# [> Books <] #}
        {% if article.books %}{% include "_book.html" %}{% endif %}

        {# [>- Google plus <] #}
        {% include "_gplus.html" %}

        {# [> Paginator <] #}
        <div class="article_paginator zeta">
            {%- if prev %}
                <div class="article_paginator_right">
                    <a href="{{ prev.url }}" class="article_paginator_right_link">{{ prev.title }}</a> Ctrl→
                </div>
            {%- endif -%}
            {%- if next %}
                <div class="article_paginator_left">
                    ←Ctrl <a href="{{ next.url }}" class="article_paginator_left_link">{{ next.title }}</a>
                </div>
            {%- endif -%}
        </div>
    </article>

    {# [>- Disqus -<] #}
    {% include "_disqus.html" %} 

{% endblock %}
