body {
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    background: #ddd url(../images/top-bg.png) repeat-x;
}

a, a:visited, a:active {
    color: #036;
}

pre {
    white-space: pre;
    font-size: 14px;
    /* font-family: monospace; */
    /* word-wrap: normal; */
}

h1 { margin: 0 0 5px; }

h2 {
    margin: 1em 0 .2em;
    font-size: 1.8em;
}

cite {
    color: darken(#f5f4ed, 50%);
    font-style: italic;
}

.share {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 150px;
}

.github {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 141px;
    height: 141px;
}

.literal {
    color: #090;
}

.book-preview {
    float: left;
    margin: 0 1em 0 0;
}
