.footer {
    margin: 2em 0;
    text-align: center;
    position: relative;
    font: {
        size: .8em;
        weight: bold;
    }

    .pos1 {
        position: absolute;
        left: -181px;
        bottom: 0;
        width: 200px;
        height: 400px;
        background: url(../images/pos1.png) no-repeat;
    }

    .pos2 {
        position: absolute;
        right: -200px;
        bottom: 0;
        width: 200px;
        height: 400px;
        background: url(../images/pos2.png) no-repeat;
    }

}
