$base-padding: 30px;
$base-color: #057;

/* Zeta base settings */
$z-font-color: #111;
$z-font-family: "Helvetica Neue", Arial;

/* Zeta grid settings */
$z-grid-columns: 24;
$z-grid-width: 30px;
$z-grid-cutter: 10px;
$z-grid-center: false;
